In [1]:
import pandas as pd
import numpy as np

In [11]:
missing_val = ['n/a', 'na', 'NA', '--']
df = pd.read_csv("dataset/property data.csv", na_values=missing_val)
df.tail()

           PID  ST_NUM     ST_NAME OWN_OCCUPIED  NUM_BEDROOMS NUM_BATH   SQ_FT
4          NaN   203.0    BERKELEY            Y           3.0        2  1600.0
5  100006000.0   207.0    BERKELEY            Y           NaN        1   800.0
6  100007000.0     NaN  WASHINGTON          NaN           2.0   HURLEY   950.0
7  100008000.0   213.0     TREMONT            Y           1.0        1     NaN
8  100009000.0   215.0     TREMONT            Y           NaN        2  1800.0

In [12]:
df['NUM_BEDROOMS'].isnull()

0    False
1    False
2     True
3    False
4    False
5     True
6    False
7    False
8     True
Name: NUM_BEDROOMS, dtype: bool

In [14]:
count = 0
for row in df['OWN_OCCUPIED']:
    try:
        int(row)
        df.loc[count, 'OWN_OCCUPIED']=np.nan
    except ValueError:
        pass
    count+=1

In [17]:
df.isnull().sum()

PID             1
ST_NUM          2
ST_NAME         0
OWN_OCCUPIED    2
NUM_BEDROOMS    3
NUM_BATH        1
SQ_FT           2
dtype: int64